@import "tailwindcss";

@theme {
  --font-sans: "Urbanist", ui-sans-serif, system-ui, sans-serif;
  --font-space: "Space Grotesk", sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.bg-grid-pattern {
  background-size: 50px 50px;
  background-image: linear-gradient(to right, #ffffff0d 1px, transparent 1px),
    linear-gradient(to bottom, #ffffff0d 1px, transparent 1px);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #ffffff1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B6FF00;
}